<vex-page-layout>
  <vex-page-layout-header class="flex flex-col h-40 items-start justify-center">
    <div class="container mt-4">
      <h1 class="text-5xl font-bold">Data Structures</h1>

      <div class="flex flex-row items-center">
        <p class="text-gray-500 text-xl mt-4">Course Information</p>
        <button mat-icon-button color="primary" class="mt-2 ml-3 w-9 h-9 rounded-full bg-blue-500" (click)="toggleEdit()">
          <mat-icon svgIcon="mat:edit"></mat-icon>
        </button>
        <button mat-icon-button color="primary" class="mt-2 ml-3 w-9 h-9 rounded-full bg-green-500" (click)="fileInput.click()">
          <mat-icon class="mt-1" svgIcon="mat:add_circle"></mat-icon>
        </button>
        <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;" accept=".pdf">
      </div>

          <!-- File list -->
    <div class="mb-4 flex flex-row">
      <p *ngIf="uploadedFiles.length > 0" class="text-gray-500 text-xl mt-4 mb-1">Course Support</p>

      <div *ngFor="let file of uploadedFiles" class="flex items-center p-2 bg-gray-100 rounded mt-2 ml-2">
        <mat-icon svgIcon="mat:picture_as_pdf" class="text-red-500 mr-2"></mat-icon>
        <a href="#">{{ file.name }}</a>
      </div>
    </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="p-0 container mt-6">
    <mat-tab-group>



      <!-- Description -->
      <mat-tab label="Description">
        <div class="p-8">
          <ng-container *ngIf="!isEditMode; else editDescription">
            
            <div class="text-xl" [innerHTML]="courseData.description"></div>
            
          </ng-container>
          <ng-template #editDescription>
            <textarea [(ngModel)]="courseData.description" rows="10" class="w-full p-2 border border-gray-300 rounded"></textarea>
          </ng-template>
        </div>
      </mat-tab>

      <!-- Evaluation -->
      <mat-tab label="Evaluation">
        <div class="p-8">
          <ng-container *ngIf="!isEditMode; else editEvaluation">
            
            <div class="text-xl" [innerHTML]="courseData.evaluation"></div>


          </ng-container>
          <ng-template #editEvaluation>
            <textarea [(ngModel)]="courseData.evaluation" rows="10" class="w-full p-2 border border-gray-300 rounded"></textarea>
          </ng-template>
        </div>
      </mat-tab>

      <!-- Laboratory -->
      <mat-tab label="Laboratory">
        <div class="p-8">
          <ng-container *ngIf="!isEditMode; else editLaboratory">
            
            <div class="text-xl" [innerHTML]="courseData.laboratory"></div>

          </ng-container>
          <ng-template #editLaboratory>
            <textarea [(ngModel)]="courseData.laboratory" rows="10" class="w-full p-2 border border-gray-300 rounded"></textarea>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="isEditMode" class="flex justify-end mt-4">
      <button mat-button class="mr-4" (click)="toggleEdit()">Close</button>
      <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
